{% extends 'base.html' %}
{% block head %}
<script>
 function calc() {
     $('.col04').each(function () {
        clo04 = 0;
        count = $(this).prev().text();
        price = $(this).prev().prev().children().children().text();
        clo04 = parseFloat(count)*parseFloat(price);

        $(this).text(clo04.toFixed(2));
     })
 }
 $(function () {
     calc();
     $('#delete').click(function () {
            state=confirm('您确定要删除吗？');
            if(state){
                id=$(this).parent().parent().attr('id');
                $.get('/order/delete'+id+'/',function (data) {
                    if(data.ok==1){
                        $('tr').remove('#'+id);
                        $('ul').remove('#'+id);
                    }else{
                        alert(data.e);
                    }
                })
            }
        });
 })
</script>
{% endblock head %}
{% block content %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/user/info/">· 个人信息</a></li>
				<li><a href="/user/order&1/" class="active">· 全部订单</a></li>
				<li><a href="/user/site/">· 收货地址</a></li>
			</ul>
		</div>

		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单:{{ plist }}</h3>
            {% for orderinfo in orderlist %}
				<ul class="order_list_th w978 clearfix" id="{{ orderinfo.o_id }}">
					<li class="col01">{{ orderinfo.o_date }}</li>
					<li class="col02">订单号：{{ orderinfo.o_id }}</li>
					<li class="col02 stress">未支付</li>
                    <li class="col02 ">运费：10元</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr id="{{ orderinfo.o_id }}">
							<td width="55%">
                                {% for item in orderinfo.orderdetailinfo_set.all %}
								    <ul class="order_goods_list clearfix">
									<li class="col01"><img src="/static/{{ item.goods.g_pic}}"></li>
									<li class="col02">{{ item.goods.g_title }}<em><span class="col0201">{{ item.price }}</span>元/{{ item.goods.g_unit }}</em></li>
									<li class="col03">{{ item.count }}</li>
									<li class="col04">11.80元</li>
								    </ul>
                                {% endfor %}
							</td>
							<td width="15%">总计:&nbsp;&nbsp;{{ orderinfo.o_total }}元</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            <td width="15%"><a href="javascript:;" class="oper_btn" id="delete">删除订单</a></td>
						</tr>
					</tbody>
				</table>
            {% endfor %}
            <div class="pagenation">
                {% if has_previous %}
                    <a href="/user/order&1">首页</a>
                    <a href="/user/order&{{ previous_page_number}}">上一页</a>
                {% endif %}
                {% if has_next %}
                    <a href="/user/order&{{ next_page_number }}">下一页</a>
                    <a href="/user/order&{{ last_page }}">尾页</a>
                {% endif %}
            </div>
    </div>
</div>
{% endblock content %}

s

